@{
    Layout = null;
}
@model User

<!DOCTYPE html>


<html lang="tr">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Kaydol</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Construction Html5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Constra HTML Template v1.0">
  
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
  
  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href="/add/plugins/themefisher-font/style.css">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="/add/plugins/bootstrap/css/bootstrap.min.css">
  
  <!-- Animate css -->
  <link rel="stylesheet" href="/add/plugins/animate/animate.css">
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="/add/plugins/slick/slick.css">
  <link rel="stylesheet" href="/add/plugins/slick/slick-theme.css">
  
  <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/add/css/style.css">

</head>

<body id="body">

<section class="signin-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
          <a class="logo" href="index.html">
            <img src="images/logo.png" alt="">
          </a>
          <h2 class="text-center">Hesap Oluştur</h2>
          <form method="post" class="text-left clearfix" asp-controller="user" asp-action="signin">
            <div class="form-group">
              <input type="text" class="form-control" asp-for="@Model.NameSurname" placeholder="Ad Soyad">
            </div>
        
            <div class="form-group">
                                <input type="text" class="form-control" asp-for="@Model.UserName" placeholder="Kullanıcı Adı">
            </div>
          
            <div class="form-group">
                                <input type="password" class="form-control" asp-for="@Model.Password" placeholder="Parola">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-main text-center">Kayıt Ol</button>
            </div>
           @Html.AntiForgeryToken()
          </form>
          <p class="mt-20">Hesabın Var Mı?<a asp-action="login" asp-controller="user"> Login</a></p>

        </div>
      </div>
    </div>
  </div>
</section>

    <!-- 
    Essential Scripts
    =====================================-->
    
    <!-- Main jQuery -->
    <script src="/add/plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="/add/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Bootstrap Touchpin -->
    <script src="/add/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    <!-- Instagram Feed Js -->
    <script src="/add/plugins/instafeed/instafeed.min.js"></script>
    <!-- Video Lightbox Plugin -->
    <script src="/add/plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <!-- Count Down Js -->
    <script src="/add/plugins/syo-timer/build/jquery.syotimer.min.js"></script>

    <!-- slick Carousel -->
    <script src="/add/plugins/slick/slick.min.js"></script>
    <script src="/add/plugins/slick/slick-animation.min.js"></script>

    <!-- Google Mapl -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script type="text/javascript" src="/add/plugins/google-map/gmap.js"></script>

    <!-- Main Js File -->
    <script src="/add/js/script.js"></script>
    


  </body>
  </html>